extends ./layout.jade
block styles
    link(rel="stylesheet" href="./stylesheets/search.css")
    link(rel="stylesheet" href="./stylesheets/about.css")

block content
    include search.html
    include about.html
