<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/about.css">
</head>
<body>
    <div class="content">
    <div class="about-container">
        <div class="about">
        <div class="about-metu">
                <span class="about-metu-icon"></span>
                <span class="about-metu-text">关于我们</span>
        </div>
        <div class="about-line"></div>
        <div class="about-content">
            <p>武汉世纪德安网络科技有限公司旗下的5636联盟是提供网吧增值服务的网吧广告联盟,作为华中地区新崛起的网吧互动娱乐传媒企业，武汉世纪德安网络科技有限公司于2010年初，成立于风景秀丽、创意激情洋溢的国家自主创新示范区武汉东湖高新技术开发区。公司一成立便以服务广大网民，提升网吧用户体验为己任。专注于网吧行业技术和网吧门户网站的开发与创新,通过公司旗下5636联盟、GO890导航等网络平台，为广大用户提供网址导航、生活搜索、游戏互动等多元化的互动娱乐内容和服务。
            </p>
            <p>5636联盟的目的是满足广大网吧业主、网吧技术管理员广告增值需求的同时提高广告主产品传播覆盖率与使用率。5636联盟携手hao123、搜狗、腾讯SOSO、网易有道等国内知名导航网站和国内顶级搜索引擎平台，将优质、实用的搜索引擎资源推广到网吧，同时联盟还为您提供了良好玩家体验及高额佣金的游戏桌标和退弹业务。以技术实力、服务优势，为网吧从业人员争取额外高收入。
            </p>
            <p>5636联盟目前主要业务有：hao123网址导航、搜狗网址导航、SOSO主页、有道主页、游戏桌标、游戏退弹以及5636联盟自己研发的GO890网址导航，联盟提供的各类增值服务都非常重视玩家上网体验，所以在您赚钱的同时也便捷了上网的玩家。</p>
            <p>随着国家对网吧行业管理规范的加强，目前整个网吧行业处较艰难的处境，网吧行业已从暴利行业变为微利行业。现在越来越多的网吧软、硬件提供商将网吧当成自己的赚钱工具，强行推送网吧广告，"绑架"网吧广告所有权，对网吧的正常经营造成了严重不良影响。广大网吧从业人员迫切希望有实力的联盟引导网吧广告发展，5636联盟志在长远，顺应发展需求，愿携手广大网吧不断开拓创新，共同打造一个网吧行业的广告平台，发挥网吧真正的广告价值，为网吧创造更多的财富，也为网吧行业的发展贡献力量。我们的目标是做中国最受网吧欢迎的广告联盟，让网吧从业人员知道，做增值找5636。</p>
        </div>
        </div>
    </div>
    <div class="contact-container">
        <div class="contact">
            <div class="contact-metu">
                <span class="contact-metu-icon"></span>
                <span class="contact-metu-text">联系我们</span>
            </div>
            <div class="contact-line"></div>
            <div class="contact-content">
                <p>公司名称：西安比熊网络科技有限公司</p>
                <p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：710016</p>
                <p>联系电话：029-89380982</p>
                <p>联系邮箱：645187339@qq.com</p>
                <p>公司地址：陕西省西安市雁塔区科技五路8号数字大厦</p>
                <iframe width="604" height="465" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/8rb49"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>
