<footer>
    <div class="footer_bg">
<div class="wrap">
	<div class="footer">
		<div class="grids_of_4">
			<div class="grid1_of_4">
				<h4>精选销售</h4>
				<ul class="f_nav">
					<li><a href="">亚历克西斯哈德森</a></li>
					<li><a href="">本谢尔曼</a></li>
					<li><a href="">大佛</a></li>
					<li><a href="">big buddha</a></li>
					<li><a href="">教练</a></li>
				</ul>
			</div>
			<div class="grid1_of_4">
				<h4>mens store</h4>
				<ul class="f_nav">
					<li><a href="">alexis Hudson</a></li>
					<li><a href="">american apparel</a></li>
					<li><a href="">ben sherman</a></li>
					<li><a href="">big buddha</a></li>
					<li><a href="">好的</a></li>
				</ul>
			</div>
			<div class="grid1_of_4">
				<h4>品牌旗舰</h4>
				<ul class="f_nav">
					<li><a href="">Cole Haan公司</a></li>
                    <li><a href="">christian audigier</a></li>
					<li><a href="">coach</a></li>
					<li><a href="">cole haan</a></li>
					<li><a href="">教练</a></li>
				</ul>
			</div>
			<div class="grid1_of_4">
				<h4>快速链接</h4>
				<ul class="f_nav">
					<li><a href="">alexis Hudson</a></li>
					<li><a href="">american apparel</a></li>
					<li><a href="">ben sherman</a></li>
					<li><a href="">big buddha</a></li>
					<li><a href="">channel</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>

    <div id="foot">
        <p>Emon office | EMON | 国内顶级办公用品电子商务网站。</p>
        <p>Copyright (C) EMON |  by Eurasia , All Rights Reserved.</p>
        <p>EMON 版权所有</p>
    </div>

</footer>
