html
    head
        title Emon Office
        link(rel = "stylesheet" href="/stylesheets/layoutStyle.css")
        block styles
    body
        include header.html
        block content
        include footer.html
