extends ./layout.jade
block styles
    link(rel="stylesheet" href="./stylesheets/search.css")
    link(rel="stylesheet" href="./lib/bootstrap/bootstrap.css")

block content
    include  search.html
    include pay.html
