<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
</head>
<body>
    <div class="question-container">
    <ul class="article-list">
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">1.12</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail"><p>1<br></p></span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">2.这个是测试问题</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">这个是测试问题</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">3.1</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail"><p>1<br></p></span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">4.5636联盟的服务对象是谁？</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">只要是网吧软件、游戏厂商、各类产品商家等。
</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">5.ddddd</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">啊盛大盛大速度23</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">6.dd</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail"><p>								</p><p>ddddddd<br></p><p>							</p></span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">7.通过5636网吧广告业务可以获得多少收益？</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的，客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的，客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的，客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">8.我的5636网吧联盟账户被锁定了怎么办？</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。</span>
            </div>
            <div class="question-line"></div>
        </li>
        </ul>
</div>
</body>
</html>
