extends ./layout.jade
block styles
    link(rel="stylesheet" href="./stylesheets/search.css")
    link(rel="stylesheet" href="./stylesheets/question.css")
    

block content
    include search.html
    include question.html
