<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
</head>
<body>
    <div class="question-container">
    <ul class="article-list">
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">1.购买流程介绍（搜索、挑选、下单）</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">1、在淘宝网购买商品是支持支付宝交易的，您可放心购买，简单分以下四步（不区分境内境外）：第一步：拍下宝贝第二步：付款（此付款动作是把钱付到支付宝）第三步：等待卖家发货第四步：确认收货（此动作是将支付宝的钱打款给卖家）2、如果您还不是淘宝会员，但有使用中国大陆地区手机号，可点此查看操作详情，只是在拍下宝贝的操作上有所不同，流程还是一样的哦。</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">2.购物车使用介绍</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">如果在使用购物车过程中您在以下任意一个环节遇到问题，您可以点击查看相关介绍：一、将宝贝加入购物车二、查看购物车三、管理购物车四、确认购买将宝贝加入购物车在浏览宝贝时，您可选择需要购买宝贝的具体信息：如尺码、颜色、购买数量后，逐个加入到购物车中</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">3.为什么页面会有关闭订单提醒？</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">亲，如果您的订单被关闭，可能存在以下三种情况：可能是系统判断当前订单存在被欺诈风险，为了保障您的钱款安全，暂时关闭了您的订单。如果是这种情况，为了您的资金财产安全，请您立即停止该笔订单支付操作！1） 什么是欺诈风险？网上很多不法分子以QQ，YY冒充卖家诱导会员购买游戏点卡，或者以兼职，炒信，返利等信息，欺骗消费者付款，请务必确认您购买的商品是 否是您本人所需要，不要相信游戏点卡会变成购物卡等，请勿将卡号，账户密码，验证码等信息告知任何人。2） 因欺诈风险订单被关闭，对我的账户有影响么？该笔订单被关闭只暂时影响您购买虚拟商品，实物交易仍可正常进行。对您账户没有任何其他影响。3）不存在被诱导购物，怎么办？建议您对电脑杀毒后，关注48小时再次尝试。可能是您的卖家取消的您的订单，建议可以联系卖家沟通！可能是您拍下订单后超时未付款，在您拍下商品后，有3天的时间可以付款，如您逾期未付款，交易关闭。</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">4.通过5636网吧广告业务可以获得多少收益？</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的，客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的，客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的，客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。</span>
            </div>
            <div class="question-line"></div>
        </li>
            <li>
            <div class="question">
                <span class="list-title-q"></span>
                <span class="question-detail">5.我的5636网吧联盟账户被锁定了怎么办？</span>
            </div>
            <div class="anwser">
                <span class="list-title-a"></span>
                <span class="anwser-detail">5636网吧联盟提供24小时在线客服和专业的技术支撑，当您遇见网吧主页被劫持的情况时，请和我们的客服联系，会有技术人员为您解决网吧客户机增值资源被抢的问题。</span>
            </div>
            <div class="question-line"></div>
        </li>
        </ul>
</div>
</body>
</html>
