<div class="head-t">
    <div class="logo">
        <a href="/">
            <h1>Emon
                <span>Office</span>
            </h1>
        </a>
    </div>
    <div class="header_right">
        <a href="/shopping-cart">
            <span>我的购物车</span><i class="glyphicon glyphicon-shopping-cart"></i>
        </a>
    </div>
</div>
<div class="header-down">
    <div class="form">
        <input class="text" id="key" placeholder="LAMY" type="text">
        <button class="search-button">
            <i></i>搜索</button>
    </div>
</div>
