* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.main-info {
    position: relative;
    height: 385px;
    cursor: hand;
}
#board {
    height: 385px;
    margin-left: 890px;
    width: 275px;
}
#shopping-board {
    height: 145px;
    width: 275px;
    border: 1px solid #c1c1c1;
}
#news {
    height: 235px;
    margin-top: 5px;
    width: 275px;
    border: 1px solid #c1c1c1;
}
.title-one {
    height: 35px;
    width: 275px;
    background-color: #56C4CF;
    color: white;
    margin-top: -10px;
}
h5 {
    line-height: 35px;
    margin-left: 12px;
}
.board-content {
    height: 108px;
    width: 275px;
}
.content-list {
    margin-left: 25px;
    margin-top: 10px;
}
.news-content {
    height: 198px;
    width: 275px;
}
#new-product {
    height: 331px;
    width: 1170px;
    margin-top: 150px;
}
.title-two {
    height: 25px;
    width: 140px;
    text-align: center;
}
.line {
    margin-top: 30px;
    width: 1174px;
    height: 2px;
    background-color: #56C4CF;
}
.info-list {
    height: 250px;
    width: 1170px;
    margin-top: 10px;
}
#list {
    height: 350px;
    width: 250px;
    box-shadow: 2px 2px 11px #CCCBCB;
    background: #fff;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 15px 20px;
    border: 1px solid #c1c1c1;
    float: left;

}
.big-list {
    display: block;
    max-width: 100%;
    height: 255px;
}
.word {
    height: 40px;
    width: 173px;
    margin-left: 32px;
    font-family: '微软雅黑';
    font-size: 16px;
    padding: 10px;
}
.price {
    height: 40px;
    width: 173px;
    margin-left: 28px;
    color:#56C4CF;
    font-size: 16px;
    padding: 5px;
}
#popular-product {
    height: 330px;
    width: 1170px;
    margin-top: 133px;
}
a {
    color:black;
}
 .content-list a:hover {
    color: #56C4CF;
    text-decoration: none;
}
.item img {
    width: 100%;
}
.toolbar {
    position: fixed;
    left: 95%;
    bottom: 1%;
}
.toolbar-item {
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 3px;
    background-image: url(../images/toolbar.png);
    background-repeat: no-repeat;
    margin-top: 1px;
}
.toolbar-item-weixin {
    background-position: 0 -798px;
}
.toolbar-item-weixin:hover {
    background-position: 0 -860px;
}
.toolbar-item-weixin .toolbar-layer {
    height: 194px;
    background-position: 0 0;
    position: absolute;
    right: 52px;
    bottom: 0;
    width: 172px;
    background-image: url(../images/toolbar.png);
    background-repeat: no-repeat;
    opacity: 0;
    transform-origin: 95% 95%;
    transform: scale(0);
    transition: all 0.5s;
}
.toolbar-item-weixin:hover .toolbar-layer {
    height: 194px;
    background-position: 0 0;
    position: absolute;
    right: 52px;
    bottom: 0;
    width: 172px;
    background-image: url(../images/toolbar.png);
    background-repeat: no-repeat;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s;
}
.toolbar-item-top {
    background-position: 0 -674px;
}
.toolbar-item-top:hover {
    background-position: 0 -736px;
}
