.header-down {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px
}
.form {
    width: 576px;
    height: 60px;
    margin: 0 auto;
}
#key {
    float: left;
    width: 446px;
    height: 40px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #56C4CF;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.search-button {
    float: left;
    width: 82px;
    height: 40px;
    background: #56C4CF;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}
.logo {
    margin: 1.5em 0;
    float: left;
}
.header_right {
    float: right;
}
.logo a h1 {
    font-size: 2.7em;
    font-weight: 400;
    color: #56C4CF;
}
.logo a:hover {
    text-decoration: none;
}
.logo a h1:hover {
    text-decoration: none;
}
.logo h1 span {
    color: #333;
}
.head-t {
    padding: 1em 0;
}
.header_right {
    position: relative;
    top: 42px;
    right: 160px;
    width: 155px;
    height: 45px;
    background: #EAEAEA;
    text-align: center;
}
.header_right span {
    color: #56C4CF;
    font-size: 20px;
    margin-left: 10px;
    line-height: 45px;
}
.header_right a {
    text-decoration: none !important;
}
.header_right i {
    color: #56C4CF;
    font-size: 20px;
}
.panel {
    width: 60%;
    margin: 0 auto;
}
.panel-heading {
    font-size: 20px;
}
.zhifu {
    text-align: center;
    height: 450px;
    background-size: contain;
    background-image: url(../images/zhifubao.jpg);
    margin-left: 220px;
    background-repeat: no-repeat;
}
#button {
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}
